{# Template da aplicação #}
{% extends 'base.html.twig' %}
{% form_theme form 'form/blogForm.html.twig' %}
{# Titulo da aplicação#}
{% block title %}
    Novo Blog
{% endblock %}
{# Counteudo da aplicação #}
{% block body %}
<div class="container"></br></br></br>
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Novo Blog</h1>

    <div class="row">
       <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_widget(form) }}
           {{ form_end(form) }}</br>
       </div>
    </div>
</div>
{% endblock %}

 {% block javascripts %}
     <script type="text/javascript" src="{{ asset('js/novaImgBlog.js') }}"></script>
 {% endblock %}