<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MoveIt{% endblock %}</title>


        <!-- Bootstrap core CSS -->
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ asset('css/modern-business.css' )}}" rel="stylesheet'">
        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}" />
    </head>
    <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top " >
        <div class="container">
            <a class="navbar-brand" href="{{  path('homepage') }}">  <img  style="max-height:50px;" src="{{ asset('images/logo1.png') }}"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {#Blog/Sobre a Moveit/Quem somos/ Aonde nos encontramos#}
            {#Nosotros = treinadores / Bares = Duvidas / Tapas = Blogs#}
            <div class="collapse navbar-collapse"  id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {#{{ path('removerBlog', {id: blog.id}) }}#}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="{{ path('listagem')}}">Listagem</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="{{ path('novoBlog')}}">Novo Post</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{  path('todos')}}">Blogs</a>
                    </li>
                    <li class="nav-item">
                        {#<a class="nav-link" href="{{  path('sobre')}}">Sobre</a>#}
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Duvidas
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            {#<a class="dropdown-item" href="{{  path('duvidas',{'url': 'marcar'}) }}">Como marcar uma aula?</a>#}
                            <a class="dropdown-item" href="{{  path('duvidas',{'url': 'local'}) }}">Local de Encontro</a>
                        </div>
                    <li class="nav-item">
                        <a class="nav-link" href="{{  path('treinadores') }}">Treinadores</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user is null %}
                    <li>
                     <a class="nav-link" href="{{  path('login') }}"><img title="Login"
                      style="width: 25px;"src="{{ asset('icons/icons8-usuário-48.png') }}">Area de Login</a>
                    </li>
                    {% endif %}
                    {#logout:#}
                    {#path: /logout#}
                    {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link text-warning" style="padding-top:px;">Oii, <b> {{app.user.username }}</b> :), Bem vindo!</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link text-warning" style="padding-top:px;">Oii, <b> {{app.user.username }}</b> :), Bem vindo!</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a class="nav-link" href="{{  path('logout') }}"><img title="Login"
                                                                             style="width: 25px;"src="{{ asset('icons/icons8-sair-48.png') }}">Logout</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <a class="nav-link" href="{{  path('logout') }}"><img title="Login"
                                                                                  style="width: 25px;"src="{{ asset('icons/icons8-sair-48.png') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    {% block body %}{% endblock %}
    <!-- Footer -->
    {#{{ include('page/footer.html.twig') }}#}
        <!-- Bootstrap core JavaScript -->
    <script src="{{ asset ('vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ asset ('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        {% block javascripts %}{% endblock %}

    </body>

</html>
