{# Template da aplicação #}
{% extends 'base.html.twig' %}
{# Titulo da aplicação#}
{% block title %}
    Sucesso
{% endblock %}
{# Counteudo da aplicação #}
{% block body %}

    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <div class="col-sm12"></br></br></br>
            <img src="https://vignette.wikia.nocookie.net/creepypasta/images/4/4c/Name-tag-admin-1000.png/revision/latest?cb=20130730233935">
        </div>
    </div>
{% endblock %}