{# Template da aplicação #}
{% extends 'base.html.twig' %}
{% form_theme form 'form/blogForm.html.twig' %}
{# Titulo da aplicação#}
{% block title %}
    Novo Blog
{% endblock %}
{# Counteudo da aplicação #}
{% block body %}
    <div class="container"></br></br></br>
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3 text-center">Cadastro</h1>

        <div class="row">
            <div class="col-sm-6 offset-sm-3 ">
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
                <div>
                    <div class="row" style="padding-left: 15px">
                        <div class="offset-sm-0">
                            {{ form_row(form.Salvar) }}
                        </div>
                        <div class="" style="padding-left: 10px;">
                            {{  form_row(form.Apagar) }}
                        </div>

                    </div>
                </div>

{{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
     <script type="text/javascript" src="{{ asset('js/novaImgBlog.js') }}"></script>
 {% endblock %}