{# Template da aplicação #}
{% extends 'base.html.twig' %}
{# Titulo da aplicação#}
{% block title %}
    Sucesso
{% endblock %}
{# Counteudo da aplicação #}
{% block body %}

<!------ Include the above in your HEAD tag ---------->

<div class="container">
<div class="col-sm12">
    <img src="https://www.areavip.com.br/wp-content/uploads/2017/04/xuxa-meneghel44.jpg">
</div>
</div>
{% endblock %}