{# Template da aplicação #}
{% extends 'base.html.twig' %}
{# Titulo da aplicação#}
{% block title %}
    Listagem
{% endblock %}
{# Counteudo da aplicação #}
{% block stylesheets %}
    {#<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}
    {#<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>#}
    {#<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>#}
<style>
</style>
{% endblock %}

{% block body%}
    </br></br></br></br>
    {% for blog in blogs %}
        <div class="container">

        <!-- Blog Post -->

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-6">
                        <a href="{{ path('blog',{'id':blog.id})}}">
                            <img class="img-fluid rounded" src={% if blog.foto|length > 0 %}"{{asset(blogImg~blog.foto)}}"{% else %}"{{ asset('images/logo1.jpg') }}"{% endif %} alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a  href={{ path('blog',{'id':blog.id})}}><h2 class="card-title" >{{ blog.nome }}</h2></a>
                        <p class="card-text" style="color:red;">Para maiores informações clique na imagem!!</p>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card-footer text-muted">
                {{  blog.dataCriacao.format ("d/m/Y H:i") }} Por
                {{blog.autor.username}}
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('atualizar_blog', {id: blog.id}) }}"><img title="Editar o Blog" src="{{ asset('icons/icons8-editar-48.png') }}" width="35px"/>
                </a>
                <a href="{{ path('removerBlog', {id: blog.id}) }}"><img title="Deletar o Blog" src="{{ asset('icons/icons8-fechar-janela-48.png') }}" width="35px"/>
                </a>


                {% endif %}
            </div>
        </div>

        <!-- Pagination -->

    </div>

    {% endfor %}
{% endblock %}

