{# Template da aplicação #}
{% extends 'base.html.twig' %}
{# Titulo da aplicação#}
{% block title %}
    Blogs Moveit
{% endblock %}
{# Counteudo da aplicação #}
{% block body %}
    {#{% for blog in blogs %}#}

        <!-- Page Heading/Breadcrumbs -->

        <!-- Post Content -->
        <!-- Blog Post -->
        </br></br></br>
    {#<div class="card mb-4">#}
            {#<div class="card-body">#}
                {#<div class="row">#}
                    {#<div class="col-sm-2">#}
                        {#<a href="">#}
                            {#<a href="{{ path('blog',{'id':blog.id})}}"><img class="img-fluid rounded" src={% if blog.foto|length > 0 %}"{{asset(blogImg~blog.foto)}}"{% else %}"{{ asset('images/logo1.jpg') }}"{% endif %} alt=""></a>#}
                        {#</a>#}
                    {#</div>#}
                    {#<div class="col-lg-6">#}
                     {#<a href="{{ path('blog',{'id':blog.id})}}"><h2 class="card-title">{{ blog.nome }}</h2></a>#}
                        {#<p class="card-text" >{{ blog.descricao |raw }}</p>#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="card-footer text-muted">#}


            {#</div>#}

             {#<p class="alert alert-warning">Por: {{ blog.autor.username  }} As: {{  blog.dataCriacao.format ("d/m/Y H:i") }}</p>#}

    {#</div>#}


{#</div>#}

        <div class="container">
        <!-- Portfolio Section -->
        <h1 class="my-4 text-center">Noticias Blog MoveIT</h1>
        <div class="row">
            {% for blog in blogs %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="{{ path('blog',{'id':blog.id})}}"><img class="card-img-top" src={% if blog.foto|length > 0 %}"{{asset(blogImg~blog.foto)}}"{% else %}"{{ asset('images/logo1.jpg') }}"{% endif %} alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ path('blog',{'id':blog.id})}}">{{ blog.nome }}</a>
                            </h4>
                            <p class="card-text" style="color:red;">Para maiores informações clique na imagem!!</p>
                        </div>
                    </div>
                </div>


            {% endfor %}

        </div>
        </div>
    {#{% endfor %}#}
{% endblock %}