{# Template da aplicação #}
{% extends 'base.html.twig' %}
{# Titulo da aplicação#}
{% block title %}
    {{ blog.nome }}
{% endblock %}
{% block stylesheets %}
    <style>
        container {
            width: 200px;
            height: 200px;
            box-shadow: 0px 1px 5px #636e72;
            background: #fff;
        }
    </style>
{% endblock %}
{# Counteudo da aplicação #}
{% block body %}
    <!-- Page Content -->
    <div class="container"></br></br></br>
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3 text-center">{{ blog.nome }}
            <div class="float-right col-sm-2" style="padding-left: 5px">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('atualizar_blog', {id: blog.id}) }}"><img title="Editar o Blog"
                                                                               src="{{ asset('icons/icons8-editar-48.png') }}"
                                                                               width="35px"/>
                    </a>
                    <a href="{{ path('removerBlog', {id: blog.id}) }}"><img title="Deletar o Blog"
                                                                            src="{{ asset('icons/icons8-fechar-janela-48.png') }}"
                                                                            width="35px"/>
                    </a>
                {% endif %}
            </div>
        </h1>

        <div class="row" style="box-shadow: 0px 1px 7px #b3b3b3;">

            <!-- Post Content Column -->
            <div class="col-lg-12">

                <!-- Preview Image -->

                <img class="img-fluid rounded col-lg-11" src={% if blog.foto|length > 0 %}"{{asset(blogImg~blog.foto)}}"{% else %}"{{ asset('images/logo1.jpg') }}"{% endif %} alt="">

                <hr>

                <!-- Date/Time -->
                <p>Postado Por {{ blog.autor.username }} as {{ blog.dataCriacao.format ("d/m/Y H:i") }}</p>

                <hr>

                <!-- Post Content -->
                <p class="lead">{{ blog.descricao | raw }}</p>

                <hr>
                {#<!-- /.row -->#}
                {#{%  if app.user == null %}#}
                {#<!-- the comment box -->#}
                {#<div class="well">#}
                {#<h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>#}
                {#<form role="form" action="{{ path("novoComentarioBlog") }}">#}
                {#<div class="form-group">#}
                {#<textarea class="form-control" rows="3" name="comentario"></textarea>#}
                {#</div>#}
                {#</form>#}
                {#</div>#}
                {#<script src="https://apis.google.com/js/plusone.js">#}
                {#</script>#}
                {#<hr>#}
                {#{% endif %}#}


            </div>

        </div>
        </br>
        <!-- /.row -->
        {% if is_granted('ROLE_USER') %}
            <!-- the comment box -->
            <div class="well">
                <h4><i class="fa fa-paper-plane-o"></i> Deixe um comentario:</h4>
                <form role="form" action="{{ path("novoComentarioBlog") }}">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" name="comentario"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-reply" value="salvar"></i> Enviar
                    </button>
                </form>
            </div>
            <script src="https://apis.google.com/js/plusone.js">
            </script>
            <hr>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <!-- the comment box -->
            <div class="well">
                <h4><i class="fa fa-paper-plane-o"></i> Deixe um comentario:</h4>
                <form role="form" action="{{ path("novoComentarioBlog") }}">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" name="comentario"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-reply" value="salvar"></i> Enviar
                    </button>
                </form>
            </div>
            <script src="https://apis.google.com/js/plusone.js">
            </script>
            <hr>
        {% endif %}

        {% for comentario in comentarios %}
            {{ include('frontal/comentario.html.twig') }}
        {% endfor %}
    </div>
    </div>
    </div>
    <!-- /.container -->
{% endblock %}