<!-- the comments -->
<h3><i class="fa fa-comment"></i> {{ comentario.autor.username }} Comentou:


</h3>
{#//so tem a parte do autor do post poder remover algum comentario do proprio post#}
{#<p>{{ comentario.counteudo }}#}

<p>

   {{ comentario.counteudo }}

    {% if app.user == comentario.blog.autor or app.user == comentario.autor%}
        <a href="{{ path('deleteComent', {id: comentario.id}) }}"/><img title="Deletar o Comentario" src="{{ asset('icons/icons8-fechar-janela-48.png') }}" width="35px"/>
        </a>
    {% endif %}</p><h6 class="text-left"> {{  comentario.data.format ("d/m/Y H:i") }} </h6><hr>
