{# Template da aplicação #}
{% extends 'base.html.twig' %}
{# Titulo da aplicação#}
{% block title %}
    Duvidas
{% endblock %}
{# Counteudo da aplicação #}
{% block body %}
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
     <h1 class="mt-4 mb-3">Duvidas
     </h1>
    <!-- PAGE LOCAL -->
    {% if url=='local' or url=='todos' %}
    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-lg-8 mb-4">
            <!-- Embedded Google Map -->
            <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.934482634255!2d-49.006277185473834!3d-28.481519682477572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x952142e310a602b7%3A0x2d7dc4190fd4b151!2sMuseu!5e0!3m2!1spt-PT!2sbr!4v1526391452670"></iframe>
        </div>

        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
            <h3>Local de Encontro</h3>
            <h5>(Podendo haver mudanças)</h5></br>
            <p>
                Silvio Santos Ipsum ma! Ao adquirir o carnê do Baú, você estará concorrendo a um prêmio de cem mil reaisam. Ma vai pra lá. Ma quem quer dinheiroam? Ma vai pra lá. Mah ooooee vem pra cá. Vem pra cá. Ma você, topa ou não topamm. Vem pra lá, mah você vai pra cá. Agora vai, agora vem pra láamm. Ma vale dérreaisam? O arriscam tuduam, valendo um milhão de reaisuam. Ma você, topa ou não topamm. Ha hai. Bem boladoam, bem boladoam. Bem gozadoam. Ma não existem mulher feiam, existem mulher que não conhece os produtos Jequitiamm. Mah você mora com o papai ou com a mamãem? É namoro ou amizadeemm?
            </p>

        </div>
    </div>
    <!-- /.row -->
    {% endif %}
    {% if url=='marcar' or url=='todos' %}
    <!-- PAGE CONTATO -->
    <!-- Content Row -->
    <div class="row">
        <!-- Form -->
        <div class="col-lg-8 mb-4">
            <h3>Mande-nos uma mensagem</h3></br>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Nome completo:</label>
                        <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Numero de Telefone(Celular):</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Email:</label>
                        <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Mensagem:</label>
                        <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar Mensagem</button>
            </form>
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
            <h3>Contate a MoveIt</h3></br>
            <ul class="">
                <h4>Contato</h4>
                <p>ZAP 4172981237u12
                    EMAIL
                    </br>ASIODHÇNAIOUSD0912@
                </p>

            </br></br>
                <h4>Horários</h4>
                <ul>
                    <li>Segundas e quarta-feiras na Frente do Museu as 19:30h.</li>
                    <li>Terças e quinta-feiras na Frente do Museu as 18:45h.</li>
            </ul>
            </p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-lg-8 mb-4">

        </div>

    </div>
    <!-- /.row -->
    {% endif %}
</div>
    {{ include('page/footer.html.twig') }}
    <!-- /.container -->

{% endblock %}

