{# Template da aplicação #}
{% extends 'base.html.twig' %}
{# Titulo da aplicação#}
{% block stylesheets %}
    <style>
        body {
            padding-top: 54px;
        }

        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }

        .carousel-item {
            height: 65vh;
            min-height: 300px;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .portfolio-item {
            margin-bottom: 30px;
        }

    </style>
    {% endblock %}
{% block title %}
    MoveIt
{% endblock %}
{# Counteudo da aplicação #}
{% block body %}
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url({{ asset('images/morro.jpg') }})">
                    <div style="color: #ff0000" class="carousel-caption d-none d-md-block">
                        <h3 >Treinos de Fortalecimento</h3>
                        {#<strong>Silvio Santos Ipsum É com você Lombardiam. Ma você está certo dissoam? Ma vai pra lá. Você veio da caravana de ondeammm? É com você Lombardiam. Eu só acreditoammmm.... Vendoammmm. É dinheiro ou não éam? Mah é a porta da esperançaam. É fácil ou não éam? É fácil ou não éam? Qual é a musicamm? Ha hai. Bem boladoam, bem boladoam. Bem gozadoam. Mah você mora com o papai ou com a mamãem?</strong>#}
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url({{ asset('images/escada.jpg') }})">
                    <div style="color: #ff0000;" class="carousel-caption d-none d-md-block">
                        <h3>Corra mais Rapido</h3>
                        {#<strong>Silvio Santos Ipsum É com você Lombardiam. Ma você está certo dissoam? Ma vai pra lá. Você veio da caravana de ondeammm? É com você Lombardiam. Eu só acreditoammmm.... Vendoammmm. É dinheiro ou não éam? Mah é a porta da esperançaam. É fácil ou não éam? É fácil ou não éam? Qual é a musicamm? Ha hai. Bem boladoam, bem boladoam. Bem gozadoam. Mah você mora com o papai ou com a mamãem?</strong>#}
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url({{ asset('images/quino-al-476189-unsplash.jpg') }})">
                    <div style="color: #ff0000;" class="carousel-caption d-none d-md-block">
                        <h3>Chegue no seu objetivo</h3>
                        {#<strong>Silvio Santos Ipsum É com você Lombardiam. Ma você está certo dissoam? Ma vai pra lá. Você veio da caravana de ondeammm? É com você Lombardiam. Eu só acreditoammmm.... Vendoammmm. É dinheiro ou não éam? Mah é a porta da esperançaam. É fácil ou não éam? É fácil ou não éam? Qual é a musicamm? Ha hai. Bem boladoam, bem boladoam. Bem gozadoam. Mah você mora com o papai ou com a mamãem?</strong>#}
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
<!-- Page Content -->
    <div class="container">
        <!-- Portfolio Section -->
        <h1 class="my-4">Noticias importantes</h1>
        <div class="row">
            {% for blog in blogs %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="{{ path('blog',{'id':blog.id})}}"><img class="card-img-top" src={% if blog.foto|length > 0 %}"{{asset(blogImg~blog.foto)}}"{% else %}"{{ asset('images/logo1.jpg') }}"{% endif %} alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ path('blog',{'id':blog.id})}}">{{ blog.nome }}</a>
                            </h4>
                            Blog criado por {{ blog.autor.username }}
                            {#<p class="card-text" style="color:red;">Para maiores informações clique na imagem!!</p>#}
                        </div>
                    </div>
                </div>


            {% endfor %}


        </div>

        <!-- /.row -->
    </div>
    {{ include('page/footer.html.twig') }}
    </div>
{% endblock %}