{% extends 'base.html.twig' %}

{% block body %}

    <br/>
    <br/>
    <br/>
    Silvio Santos Ipsum É com você Lombardiam. Ma você está certo dissoam? Ma vai pra lá. Você veio da caravana de ondeammm? É com você Lombardiam. Eu só acreditoammmm.... Vendoammmm. É dinheiro ou não éam? Mah é a porta da esperançaam. É fácil ou não éam? É fácil ou não éam? Qual é a musicamm? Ha hai. Bem boladoam, bem boladoam. Bem gozadoam. Mah você mora com o papai ou com a mamãem?
    {#<br/>#}
    {#<br/>#}
    {#<br/>#}

    {#Hello World! {{ app.user.username }}#}
{%  endblock %}
