{# Template da aplicação #}
{% extends 'base.html.twig' %}
{# Titulo da aplicação#}
{% block title %}
    Treinadores MoveIt
{% endblock %}
{# Counteudo da aplicação #}
{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Treinadores/Assistentes
        </h1>

        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="{{ asset('images/750x450.jpg') }}" alt="">
            </div>
            <div class="col-lg-6">
                <h2>Leonardo Reis</h2>
                <p>Silvio Santos Ipsum mah ooooee vem pra cá. Vem pra cá. Ha hai. Bem boladoam, bem boladoam. Bem gozadoam. Qual é a musicamm? Estamos em ritmo de festamm. Ha haeeee. Hi hi. Valendo um milhão de reaisammm. Vem pra lá, mah você vai pra cá. Agora vai, agora vem pra láamm.Wellintaaammmmmmmmm. Eu não queria perguntar isso publicamente, ma vou perguntar. Carla, você tem o ensino fundamentauam? Você veio da caravana de ondeammm?</p>
                <p>Eu não queria perguntar isso publicamente, ma vou perguntar. Carla, você tem o ensino fundamentauam? É fácil ou não éam? Ma você está certo dissoam? É por sua conta e riscoamm? Vem pra lá, mah você vai pra cá. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="{{ asset('images/mulher.jpg') }}" alt="">
            </div>
            <div class="col-lg-6">
                <h2>Sabrina sasa</h2>
                <p>Silvio Santos Ipsum mah ooooee vem pra cá. Vem pra cá. Ha hai. Bem boladoam, bem boladoam. Bem gozadoam. Qual é a musicamm? Estamos em ritmo de festamm. Ha haeeee. Hi hi. Valendo um milhão de reaisammm. Vem pra lá, mah você vai pra cá. Agora vai, agora vem pra láamm.Wellintaaammmmmmmmm. Eu não queria perguntar isso publicamente, ma vou perguntar. Carla, você tem o ensino fundamentauam? Você veio da caravana de ondeammm?</p>
                <p>Eu não queria perguntar isso publicamente, ma vou perguntar. Carla, você tem o ensino fundamentauam? É fácil ou não éam? Ma você está certo dissoam? É por sua conta e riscoamm? Vem pra lá, mah você vai pra cá. </p>
            </div>
        </div>
    </div>


        <!-- /.row -->.
{% endblock %}