{% extends 'base.html.twig' %}

{% block body %}
    <h1>Emails list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Mensagem</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for email in emails %}
            <tr>
                <td><a href="{{ path('email_show', { 'id': email.id }) }}">{{ email.id }}</a></td>
                <td>{{ email.nome }}</td>
                <td>{{ email.telefone }}</td>
                <td>{{ email.email }}</td>
                <td>{{ email.mensagem }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('email_show', { 'id': email.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
