{% extends 'base.html.twig' %}

{% block body %}
    <h1>Email</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ email.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ email.nome }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ email.telefone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ email.email }}</td>
            </tr>
            <tr>
                <th>Mensagem</th>
                <td>{{ email.mensagem }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('email_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
