{% extends 'base.html.twig' %}
{% block body%}
    <div class="container">
        <div class="col-lg-12 offset-lg-2"></br></br></br>
            <h1>Deu erro </h1>
            <p>Ixi meu amigão parece que deu erro... Creio que você não tenha permissão para excluir de outro usuario</p>
            <p> Mas não se preoucupe, voce pode voltar para a pagina principal clicando na imagem abaixo ou nos botoes:))</p>
            <a href="{{ path('homepage') }}"><img src="{{ asset('images/403forbiddenerror.jpg') }}"></a>
            <div class="col-sm-8">
                <a href="{{  path('homepage')}}" class="btn btn-lg btn-primary col-sm-4">Voltar a homePage</a>
                <a href="{{  path('todos')}}" class="btn btn-lg btn-primary col-sm-4 float-right">Visitar os Blogs</a>
            </div>

        </div>
    </div>

{% endblock %}