<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}MoveIt Login{% endblock %}</title>


    <!-- Bootstrap core CSS -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/modern-business.css' )}}" rel="stylesheet'">

{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
{% block stylesheets %}
    <style>
        body{
           padding-left: 450px;
        }
        /* Credit to bootsnipp.com for the css for the color graph */
        .colorgraph {
            height: 5px;
            border-top: 0;
            background: #c4e17f;
            border-radius: 5px;
            background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        }
    </style>
{% endblock %}
<body>
<form action="{{ path('login') }}" method="post">
    {#<label for="username">Username:</label>#}
    {#<input type="text" id="username" name="_username" value="{{ last_username }}" />#}

    {#<label for="password">Password:</label>#}
    {#<input type="password" id="password" name="_password" />#}
    {#<p>macaco loko</p>#}
    {##}
    {#If you want to control the URL the user#}
    {#is redirected to on success (more details below)#}
    {#<input type="hidden" name="_target_path" value="/account" />#}
    {##}

    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form">
                    <fieldset>
                        <h2>Pagina de Login</h2>
                        <hr class="colorgraph">
                        <div class="form-group">
                            <input type="text" name="_username" id="email" class="form-control input-lg" placeholder="Email" value="{{ last_username }}">
                        </div>
                        <div class="form-group">
                            <input type="password" name="_password" id="password" class="form-control input-lg" placeholder="Senha">
                        </div>
                        <span class="button-checkbox">
					<button type="button" class="btn" data-color="info"  id="remember_me" name="_remember_me">Lembrar-me</button>

					{#<a href="" class="btn btn-link pull-right">Forgot Password?</a>#}
				</span>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                {#<button type="submit">login</button>#}
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Entrar">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <a href="{{  path('user_registration')}}" class="btn btn-lg btn-primary btn-block">Cadastrar</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <script src="{{ asset ('vendor/jquery/jquery.min.js')}}"></script>
        {#<script src="{{ asset ('vendor/bootstrap/js/jq')}}"></script>#}
        {% block javascripts %}{% endblock %}
</body>
</html>
